section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f5f5f5;
  width: 100%;
  min-height: 92.5vh;
  padding: 5rem 30%;
}

@media (max-width: 768px) {
  section {
    padding: 2.5rem 10%;
    gap: 15px;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
}

.date {
  color: #9c9c9c;
}

.tagbox {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.tag {
  border-radius: 15px;
  padding: 5px 15px;
  white-space: nowrap;
  background-color: white;
}