section {
  background-color: #f5f5f5;
  width: 100%;
  min-height: 92.5vh;
  padding: 30px 10%;
}

.gridbox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
}

.postbox {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 20px;
  height: 250px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.date {
  font-size: 14px;
  color: #9c9c9c;
}

.content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
  width: 100%;
}

.tagbox {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.tag {
  border-radius: 15px;
  padding: 5px 15px;
  background-color: #f5f5f5;
}
